<div class='topbar container-fluid'>

	<div class='container'>

		<div class='row topbar-inner'>

			<div class='col-xs-12 col-md-12'>

				<span class='sitemap'><a href='/sitemap.xml'>Sitemap</a></span>

				<div class="dropdown">
          <%= link_to root_path(:vi) do %>
            <img src="/images/vn_flag.jpg" alt="" />
          <% end %>
          <%= link_to root_path(:en) do %>
            <img src="/images/en_flag.jpg" alt="" />
          <% end %>
				</div>

				<span><%= t "main_nav.Language" %>&nbsp;</span>

			</div>

		</div>

	</div>

</div>
