// share 
@mixin carousel-control-hover() {
	opacity: .3;
	filter: alpha(opacity=30);

	&:hover, &:focus {
		opacity: .9;
		filter: alpha(opacity=90);
	}
}

@mixin responsive-partners() {
	.partners {
		.carousel-control {
			&.right {
				&>i {
					margin: 24% 0 0 32%;
				}
			}

			&.left {
				&>i {
					margin: 24% 0 0 -32%;
				}  	
			}
		}

		.item {
			&>span {
				margin: 0;

				img {
					width: 26.5%;
				}

				&:first-child{
					margin-left: 10%;
				}
			}
		}
	}
}

@mixin banner-height() {
	#banner {	
		.carousel-inner { 
			.item {
				img {
					height: 560px;
					min-height: 560px;
				}
			}	
		}
	}
}

// banner
#banner {	
	.carousel-control {
		background: transparent;
		@include carousel-control-hover();		

		&.right {
			&>i {
				margin: 125% 0 0 32%;
			}
		}

		&.left {
			&>i {
				margin: 125% 0 0 -32%;
			}  	
		}
	}

	.carousel-indicators {
		&>li {
			border: 0 !important;
			background: #445878;

			&.active {
				background: #31353D;
			}
		}
	}
}

// --- PAGE CONTENT --- //
h2 { 
	color: #92CDCF;
	font: 24px Helvetica107XBCn;
	text-align: center;

	span {
		display: inline-block;
		padding: 0px 15px;
		background: url('/images/bg_pattern.png'); 
	}

	&:before {
		position: absolute;
		z-index: -1;
		top: 34px;
		left: 0;
		right: 0;
		margin: 0 15px;
		border-top: 1px solid #445878;
		border-bottom: 1px solid #445878;
		content: "";
	}
}

// services
.services {
	margin-top: 30px;

	.heading {
		margin-bottom: 10px;
	}

	h3 {
		color: #92CDCF;
		font: 24px Helvetica107XBCn;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.services-description { 
		img {
			float: right;
		}
	}
}

// partners
.partners {
	.carousel-control {
		@include carousel-control-hover();		

		&.right {
			&>i {
				margin: 230% 0 0 32%;
			}
		}

		&.left {
			&>i {
				margin: 230% 0 0 -32%;
			}  	
		}
	}

	span {
		margin-left: 7%;	
	}

	img {
		margin-bottom: 2px;
	}
}

.companyinfo {
	.about-us {
		color: #EEEEF7;

		.left-side {
			width: 50%;
			float: left;
		}

		.clear {
			margin-top: 30px;
		}

		.commitment {
			&>p {
				margin: 0;
			}
		}
	}

	.contacts {
		.office {
			margin-right: 10px;
		}	

		.clear {
			margin-bottom: 40px;

			&>a {
				display: inline-block;
				margin-top: 25px;
			}
		}
		
		.address {
			&>p {
				margin: 0;

				&:first-child {
					font: 18px Helvetica107XBCn;
					color: #92CDCF;
					margin: 0 0 10px 0;
				}
			}
		}
	}
}

// --- Responsive --- //
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
/* small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	@include responsive-partners();
	@include banner-height();
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	@include responsive-partners();
	@include banner-height();

	.services-description { 
		min-height: 220px;
	}

	.companyinfo .contacts .office {
		float: left;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	@include responsive-partners();
	@include banner-height();

	.services-description { 
		min-height: 220px;
	}

	.companyinfo .contacts .office {
		float: left;
	}
}
