<div id='place-popup' class='white-popup mfp-hide row'>
	<div class="place-title col-xs-12 col-sm-12 col-md-12">
		<h2>From</h2>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4 class="airport-group">Vietnam</h4>
		<ul id="place-collapse-1" class="panel-collapse collapse in">		
			<li>
			<span class="airport-name" id="BMV">Buon Ma Thuot (BMV)</span>
			</li>
			<li>
			<span class="airport-name" id="CAH">Ca Mau (CAH)</span>
			</li>
			<li>
			<span class="airport-name" id="VCA">Can Tho (VCA)</span>
			</li>
			<li>
			<span class="airport-name" id="VCL">Chu Lai (VCL)</span>
			</li>
			<li>
			<span class="airport-name" id="VCS">Con Dao (VCS)</span>
			</li>
			<li>
			<span class="airport-name" id="DLI">Da Lat (DLI)</span>
			</li>
			<li>
			<span class="airport-name" id="DAD">Da Nang (DAD)</span>
			</li>
			<li>
			<span class="airport-name" id="DIN">Dien Bien (DIN)</span>
			</li>
			<li>
			<span class="airport-name" id="VDH">Dong Hoi (VDH)</span>
			</li>
			<li>
			<span class="airport-name" id="HAN">Ha Noi (HAN)</span>
			</li>
			<li>
			<span class="airport-name" id="HPH">Hai Phong (HPH)</span>
			</li>
			<li>
			<span class="airport-name" id="SGN">Ho Chi Minh City (SGN)</span>
			</li>
			<li>
			<span class="airport-name" id="HUI">Hue (HUI)</span>
			</li>
			<li>
			<span class="airport-name" id="CXR">Nha Trang (CXR)</span>
			</li>
			<li>
			<span class="airport-name" id="PQC">Phu Quoc (PQC)</span>
			</li>
			<li>
			<span class="airport-name" id="PXU">Pleiku (PXU)</span>
			</li>
			<li>
			<span class="airport-name" id="UIH">Quy Nhon (UIH)</span>
			</li>
			<li>
			<span class="airport-name" id="VKG">Rach Gia (VKG)</span>
			</li>
			<li>
			<span class="airport-name" id="THD">Thanh Hoa (THD)</span>
			</li>
			<li>
			<span class="airport-name" id="TBB">Tuy Hoa (TBB)</span>
			</li>
			<li>
			<span class="airport-name" id="VII">Vinh (VII)</span>
			</li>				
		</ul>			
	</div>
	<div class='col-xs-12 col-sm-6 col-md-3'>
		<h4 class="airport-group" id="Q_2">Australia</h4>
		<ul>					
			<li>
			<span class="airport-name" id="MEL">Melbourne (MEL)</span>
			</li>
			<li>
			<span class="airport-name" id="SYD">Sydney (SYD)</span>
			</li>
		</ul>
		<h4 class="airport-group" id="Q_3">Europe</h4>
		<ul>
			<li>
			<span class="airport-name" id="AMS">Amsterdam (AMS) </span>
			</li>
			<li>
			<span class="airport-name" id="BCN">Barcelona (BCN) </span>
			</li>
			<li>
			<span class="airport-name" id="FRA">Frankfurt (FRA)</span>
			</li>
			<li>
			<span class="airport-name" id="LON">London (LON)</span>
			</li>
			<li>
			<span class="airport-name" id="LYS">Lyon (LYS)</span>
			</li>
			<li>
			<span class="airport-name" id="MAD">Madrid (MAD) </span>
			</li>
			<li>
			<span class="airport-name" id="MRS">Marseille (MRS)</span>
			</li>
			<li>
			<span class="airport-name" id="MPL">Montpellier (MPL)</span>
			</li>
			<li>
			<span class="airport-name" id="MOW">Moscow (MOW)</span>
			</li>
			<li>
			<span class="airport-name" id="NCE">Nice (NCE)</span>
			</li>
			<li>
			<span class="airport-name" id="PAR">Paris (PAR)</span>
			</li>
			<li>
			<span class="airport-name" id="PRG">Prague (PRG) </span>
			</li>
			<li>
			<span class="airport-name" id="ROM">Rome (ROM) </span>
			</li>
			<li>
			<span class="airport-name" id="TLS">Toulouse (TLS)</span>
			</li>
		</ul>
		<h4 class="airport-group" id="Q_4">Indochina</h4>
		<ul>
			<li>
			<span class="airport-name" id="LPQ">Luang Prabang (LPQ)</span>
			</li>
			<li>
			<span class="airport-name" id="PNH">Phnom Penh (PNH)</span>
			</li>
			<li>
			<span class="airport-name" id="REP">Siem Riep (REP)</span>
			</li>
			<li>
			<span class="airport-name" id="VTE">Vientiane (VTE)</span>
			</li>
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<h4 class="airport-group" id="Q_5">North East Asia</h4>
		<ul>
			<li>
			<span class="airport-name" id="BJS">Beijing (BJS)</span>
			</li>
			<li>
			<span class="airport-name" id="PUS">Busan (PUS)</span>
			</li>
			<li>
			<span class="airport-name" id="CTU">Chengdu (CTU)</span>
			</li>
			<li>
			<span class="airport-name" id="FUK">Fukuoka (FUK)</span>
			</li>
			<li>
			<span class="airport-name" id="CAN">Guangzhou (CAN)</span>
			</li>
			<li>
			<span class="airport-name" id="HKG">Hong Kong (HKG)</span>
			</li>
			<li>
			<span class="airport-name" id="KHH">Kaohsiung (KHH)</span>
			</li>
			<li>
			<span class="airport-name" id="NGO">Nagoya (NGO)</span>
			</li>
			<li>
			<span class="airport-name" id="OSA">Osaka (OSA)</span>
			</li>
			<li>
			<span class="airport-name" id="SEL">Seoul (SEL)</span>
			</li>
			<li>
			<span class="airport-name" id="SHA">Shanghai (SHA)</span>
			</li>
			<li>
			<span class="airport-name" id="TPE">Taipei (TPE)</span>
			</li>
			<li>
			<span class="airport-name" id="HND">Tokyo Haneda (HND)</span>
			</li>
			<li>
			<span class="airport-name" id="NRT">Tokyo Narita (NRT)</span>
			</li>
		</ul>
		<h4 class="airport-group" id="Q_6">South East Asia</h4>
		<ul>
			<li>
			<span class="airport-name" id="BKK">Bangkok (BKK)</span>
			</li>
			<li>
			<span class="airport-name" id="JKT">Jakarta (JKT) </span>
			</li>
			<li>
			<span class="airport-name" id="KUL">Kuala Lumpur (KUL)</span>
			</li>
			<li>
			<span class="airport-name" id="MNL">Manila (MNL)</span>
			</li>
			<li>
			<span class="airport-name" id="SIN">Singapore (SIN)</span>
			</li>
			<li>
			<span class="airport-name" id="RGN">Yangon (RGN)</span>
			</li>
		</ul>
	</div>
	<div class='col-xs-12 col-sm-6 col-md-3'>
		<h4 class="airport-group" id="Q_7">United States of America</h4>
		<ul>
			<li>
			<span class="airport-name" id="ATL">Atlanta Hartsfield (ATL)</span>
			</li>
			<li>
			<span class="airport-name" id="AUS">Austin (AUS)</span>
			</li>
			<li>
			<span class="airport-name" id="BOS">Boston, Logan (BOS)</span>
			</li>
			<li>
			<span class="airport-name" id="CHI">Chicago IL (CHI)</span>
			</li>
			<li>
			<span class="airport-name" id="DFW">Dallas Fort Worth (DFW)</span>
			</li>
			<li>
			<span class="airport-name" id="DEN">Denver (DEN)</span>
			</li>
			<li>
			<span class="airport-name" id="HNL">Honolulu (HNL)</span>
			</li>
			<li>
			<span class="airport-name" id="LAX">Los Angeles (LAX)</span>
			</li>
			<li>
			<span class="airport-name" id="MIA">Miami (MIA)</span>
			</li>
			<li>
			<span class="airport-name" id="MSP">Minneapolis/St.Paul (MSP)</span>
			</li>
			<li>
			<span class="airport-name" id="JFK">New York (JFK)</span>
			</li>
			<li>
			<span class="airport-name" id="PHL">Philadelphia (PHL)</span>
			</li>
			<li>
			<span class="airport-name" id="PDX">Portland (PDX)</span>
			</li>
			<li>
			<span class="airport-name" id="SFO">San Francisco (SFO)</span>
			</li>
			<li>
			<span class="airport-name" id="SEA">Seattle, Tacoma (SEA)</span>
			</li>
			<li>
			<span class="airport-name" id="STL">St Louis, Lambert (STL)</span>
			</li>
			<li>
			<span class="airport-name" id="WAS">Washington (WAS)</span>
			</li>
		</ul>
	</div>
</div>
