<div id="sale-banner" class="row carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  <% @sale_banners.each_with_index do |sb, i|  %>
    <% if i == 0 %>
      <li data-target="sale-banner" data-slide-to="#{i}" class="active"></li>
    <% else %>  
      <li data-target="sale-banner" data-slide-to="#{i}"></li>
    <% end %>
  <% end %>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
  <% @sale_banners.each_with_index do |sb, i| %>
    <% if i == 0 %>
      <div class="item active">
        <%= image_tag(sb.image.url, :style => 'min-width: 100%;') %>
      </div>
    <% else %>
      <div class="item">
        <%= image_tag(sb.image.url, :style => 'min-width: 100%;') %>
      </div>
    <% end %>
  <% end %>
</div>

<!-- Controls -->
<a class="left carousel-control" href="#sale-banner" data-slide="prev">
	<i class="fa fa-chevron-circle-left fa-2x"></i>
</a>
<a class="right carousel-control" href="#sale-banner" data-slide="next">
	<i class="fa fa-chevron-circle-right fa-2x"></i>
</a>
</div>
