<% content_for :page_spec do %>
	<title>IIT Corporation</title>
	<%= stylesheet_link_tag "home/subsidiary/iit", media: "all" %>
<% end %>

<%= currently_at 'Subsidiary' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'IIT Corporation',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Subsidiary', :path => iit_corp_path },
				{ :name => 'IIT Corporation' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<div class='services-head-info row'>
				<div class='services-logo col-md-6 col-xs-12'>
					<div class='main-logo'>
						<h3>IIT CORPORATION</h3>
						<h5>IBH INNOVATION & TECHNOLOGY TRANSFER CORPORATION</h5>
					</div>
					<div class='img-logo-detail'>

					</div>
				</div>
				<div class='services-image col-md-6 col-xs-12'>
					<img class='img-responsive' src='/images/home-banners/banner4.jpg' alt='Security devices' />			
				</div>
			</div>
		</div>
		<div class='profile col-xs-12 col-md-12'>
			<div class='profile-inner'>
				<hr>
				<h3>~ PROFILE: WHO WE ARE ~ </h3>
				<p>
					First of all, we would like to take this opportunity to introduce ourselves - IBH Innovation & 
					Technology Transfer Corporation (IIT Corporation) - as a joint-venture company between one 
					Vietnamese company (Nacenopto Co., Ltd.) and two Germany companies (IBH-IMPEX Elektronik GmbH
					and Doitronic GmbH), located at 103 Lo Duc Str., Hai Ba Trung Dist., Hanoi, Vietnam.
				</p>
				<p>
					IIT Corporation was established and allowed to operate in Vietnam according to the 
					Investment License No. 109/GP-HN, dated 22 October 2001 granted by the Hanoi People 
					Committee. The General Director is Mr. Juergen Horn (German) and The Deputy General 
					Director is Dr. Hoang (Vietnamese).
				</p>
				<p>
					We are specializing in:
					<ul>
						<li>Consulting solutions and selection of technical equipment, high-tech electronic equipment;</li>
						<li>Training and guiding, warranting, maintaining technical equipment, high-tech electronic equipment;</li>
						<li>Research, development and trial production of high-tech electronic products;</li>
						<li>Translation of technical manuals.</li>
					</ul>
				</p>
				<p>
					IIT Corporation has good employees, and has a lot of experience in this area. 
					We always approach and upgrade new information in security equipments in order 
					to introduce to Appropriate Authorities of Vietnam.
				</p>
				<p>
					We hope that we can cooperate tightly to launch out the equipments successful 
					in Vietnam market.
				</p>
			</div>
		</div>
	</div>

</div>
