<% content_for :page_spec do %>
	<title>IIT Corporation</title>
	<%= stylesheet_link_tag "home/subsidiary/iit", media: "all" %>
<% end %>

<%= currently_at 'Subsidiary' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'IIT Corporation',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Subsidiary', :path => iit_corp_path },
				{ :name => 'IIT Corporation' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<div class='services-head-info row'>
				<div class='services-logo col-md-6 col-xs-12'>
					<div class='main-logo'>
						<h3>IIT CORPORATION</h3>
						<h5>CÔNG TY TƯ VẤN & CHUYỂN GIAO CÔNG NGHỆ IBH</h5>
					</div>
					<div class='img-logo-detail'>

					</div>
				</div>
				<div class='services-image col-md-6 col-xs-12'>
					<img class='img-responsive' src='/images/home-banners/banner4.jpg' alt='Security devices' />			
				</div>
			</div>
		</div>
		<div class='profile col-xs-12 col-md-12'>
			<div class='profile-inner'>
				<hr>
				<h3>~ CHÚNG TÔI LÀ AI ~ </h3>
				<p>
					Đầu tiên, chúng tôi xin phép được giới thiệu, <b>Công ty Tư vấn kỹ thuật và chuyển giao 
					công nghệ IBH (Công ty IIT)</b> là công ty liên doanh giữa một công ty Việt Nam (Công ty 
					TNHH Công Nghệ Quang Điện Tử) và hai công ty Cộng hòa liên bang Đức (IBH-IMPEX Elektronik 
					GmbH và Doitronic GmbH), địa chỉ 103 Lò Đúc, Hai Bà Trưng, Hà Nội, Việt Nam.
				</p>
				<p>
					Công ty được thành lập và cho phép hoạt động tại Việt Nam theo giấy phép đầu tư số 109/GP-HN, 
					được cấp bởi Hội đồng nhân dân Thành phố Hà Nội. Ông Juergen Horn (người Đức) giữ cương vị 
					Tổng Giám Đốc và Tiến sỹ Hoàng Sơn giữ cương vị Phó Tổng Giám Đốc.
				</p>
				<p>
					Chúng tôi tập trung vào:
					<ul>
						<li>Các giải pháp tư vấn và lựa chọn thiết bị kỹ thuật, thiết bị điện tử công nghệ cao;
						<li>Hướng dẫn, đào tạo, bảo hành, bảo trì thiết bị kỹ thuật, thiết bị điện tử công nghệ cao;</li>
						<li>Nghiên cứu, phát triển và thử nghiệm các sản phẩm điện tử công nghệ cao;</li>
						<li>Dịch thuật tài liệu kỹ thuật.</li>
					</ul>
				</p>
				<p>
					Công ty IIT sở hữu nhân viên kỹ thuật giỏi, có nhiều kinh nghiệm trong lĩnh vực hoạt động. 
					Chúng tôi luôn luôn không ngừng tiếp cận và cập nhật thông tin về các sản phẩm thiết bị an 
					ninh để giới thiệu đến các đơn vị chức năng thích hợp tại Việt Nam.
				</p>
				<p>
					Chúng tôi hy vọng có thể hợp tác và triển khai các dự án thành công tại thị trường Việt Nam.
				</p>
			</div>
		</div>
	</div>

</div>
