<% content_for :page_spec do %>
	<title>IIT Corporation</title>
	<%= stylesheet_link_tag "home/subsidiary/iit", media: "all" %>
<% end %>

<%= currently_at 'Subsidiary' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'IIT Corporation',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Subsidiary', :path => iit_corp_path },
				{ :name => 'IIT Corporation' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<div class='services-head-info row'>
				<div class='services-logo col-md-6 col-xs-12'>
					<div class='main-logo'>
						<h3>IIT CORPORATION</h3>
						<h5>IBH INNOVATION & TECHNOLOGY TRANSFER CORPORATION</h5>
					</div>
					<div class='img-logo-detail'>

					</div>
				</div>
				<div class='services-image col-md-6 col-xs-12'>
					<img class='img-responsive' src='/images/home-banners/banner4.jpg' alt='Security devices' />			
				</div>
			</div>
		</div>
		<div class='profile col-xs-12 col-md-12'>
			<div class='profile-inner'>
				<hr>
				<h3>~ PROFILE: WHO WE ARE ~ </h3>
				<p>
        First of all, we would like to take this opportunity to introduce ourselves - IBH Innovation & 
        Technology Transfer Corporation (IIT Corporation) - as a joint-venture company between Nacenopto 
        Co. Ltd., / Vietnam and IBH-IMPEX Elektronik GmbH, Doitronic GmbH / Germany according to Investment 
        License No. 109/GP-HN, 22nd October 2001 granted by the Hanoi People Committee.
				</p>
				<p>
				  The General Director is Mr. Juergen Horn / German and The Deputy General Director is Dr. Hoang Son / Vietnamese.
				</p>
        <p>
        IIT Corporation is reponsible for technical guarantee of projects in Vietnam and South East 
        Asia which is made by Nacenopto Co. Ltd.
        </p>
				<p>
					<ul>
            <li>
            Organize conference, demostration on/about the products
            </li>
            <li>
            Organize, support foreign delegations working in Vietnam, and also Vietnamese delegation working 
            abroad for taking part in fair, conference, tranning, factory acceptance test
            </li>
            <li>
            Technical consult, introduce special electronics, telecommunication, information solutions
            </li>
            <li>
            Make site surveys on demand
            </li>
            <li>
             Provide engineers, labors for installing, operating, testing, acceptance test, hand over and after sale services
            </li>
            <li>
            Translate technical documents from English, German into Vietnamese and vice versa, including cataloge, technical requirement, user manual
            </li>
            <li>
            Guiding, trainning for the customer
            </li>
            <li>
            Warranty, maintainance for the provided product
            </li>
					</ul>
				</p>
				<p>
        IIT Corporation has educated employees, modern machines as well to be ready for assigned work. 
        We always approach and update new information in special telecommunications and informations 
        field in order to introduce to appropriate Vietnamses authorities.
				</p>
				<p>
				  We hope that we can cooperate tightly to launch out the equipments successful in Vietnam market.
				</p>
			</div>
		</div>
	</div>

</div>
