<% content_for :page_spec do %>
	<title>IIT Corporation</title>
	<%= stylesheet_link_tag "home/subsidiary/iit", media: "all" %>
<% end %>

<%= currently_at 'Subsidiary' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'IIT Corporation',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Subsidiary', :path => iit_corp_path },
				{ :name => 'IIT Corporation' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<div class='services-head-info row'>
				<div class='services-logo col-md-6 col-xs-12'>
					<div class='main-logo'>
						<h3>IIT CORPORATION</h3>
						<h5>CÔNG TY TƯ VẤN KỸ THUẬT & CHUYỂN GIAO CÔNG NGHỆ IBH</h5>
					</div>
					<div class='img-logo-detail'>

					</div>
				</div>
				<div class='services-image col-md-6 col-xs-12'>
					<img class='img-responsive' src='/images/home-banners/banner4.jpg' alt='Security devices' />			
				</div>
			</div>
		</div>
		<div class='profile col-xs-12 col-md-12'>
			<div class='profile-inner'>
				<hr>
				<h3>~ CHÚNG TÔI LÀ AI ~ </h3>
				<p>
        Công ty tư vấn kỹ thuật và chuyển giao công nghệ IBH - <strong>IBH Innovation & Technology Transfer 
          Corpration</strong> (tên viết tắt là IIT Corp.) là công ty liên doanh giữa Công ty TNHH Công nghệ 
        Quang Điện tử/Việt Nam và Công ty IBH Impex Elektronik GmbH, Công ty Doitronic GmbH/CHLB 
        Đức theo giấy phép đầu tư số 109/GP-HN, ngày 22/10/2001 của UBND thành phố Hà Nội.
        </p>
				<p>
				  Ông Juergen Horn (người Đức) giữ cương vị Tổng Giám Đốc và Tiến sỹ Hoàng Sơn giữ cương vị Phó Tổng Giám Đốc.
				</p>
        <p>
        Công ty IIT Corp. có nhiệm vụ đảm bảo về mặt kỹ thuật cho các dự án tại Việt Nam và khu vực 
        Đông Nam Á do công ty TNHH Công nghệ Quang điện tử thực hiện bao gồm nhưng không giới hạn các công việc sau:
        </p>
				<p>
					<ul>
            <li>Tổ chức các buổi hội thảo, các buổi giới thiệu sản phẩm</li>
            <li>Tổ chức, hỗ trợ các đoàn chuyên gia nước ngoài vào làm việc tại Việt Nam và các đoàn công 
            tác của Việt Nam ra nước ngoài tham dự hội trợ, trình diễn, hội thảo, huấn luyện, kiểm tra 
            nghiệm thu tại nơi xuất xưởng</li>
            <li>
            Tư vấn kỹ thuật, đưa ra các giải pháp điện tử viễn thông, công nghệ thông tin chuyên dụng 
            </li>
            <li>
            Khảo sát thực tế môi trường triển khai dự án theo yêu cầu
            </li>
            <li>
            Cung cấp kỹ sư và nhân sự phục vụ việc lắp ráp, cài đặt, vận hành, chạy thử, nghiệm thu, bàn giao và hậu mãi
            </li>
            <li>
            Dịch thuật tài liệu kỹ thuật từ tiếng Anh, tiếng Đức sang tiếng Việt Nam và ngược lại (cataloge, tài liệu kỹ thuật, tài liệu hướng dẫn sử dụng, các tài liệu hội nghị, hội thảo, các yêu cầu về kỹ thuật chi tiết …)
            </li>
            <li>
            Hướng dẫn, đào tạo huấn luyện sử dụng sản phẩm cho khách hàng
            </li>
            <li>
            Hỗ trợ dịch vụ bảo hành, bảo trì sản phẩm đã được cung cấp
            </li>
					</ul>
				</p>
				<p>
        Công ty IIT Corp. đầy đủ lực lượng kỹ sư được đào tạo chính hãng tại trong, ngoài nước cũng 
        như các loại máy móc thiết bị hiện đại để sẵn sàng thực hiện các công việc được phân công.
        </p>
				<p>
        Chúng tôi luôn luôn không ngừng tiếp cận và cập nhật thông tin về các sản phẩm Điện tử viễn 
        thông - Công nghệ thông tin chuyên dụng để giới thiệu đến các đơn vị chức năng thích hợp tại 
        Việt Nam. Chúng tôi hy vọng có thể hợp tác và triển khai các dự án thành công tại thị trường Việt Nam.	
				</p>
			</div>
		</div>
	</div>

</div>
