<% content_for :page_spec do %>
	<title>Phòng vé máy bay</title>
	<%= stylesheet_link_tag "home/subsidiary/iit", media: "all" %>
<% end %>

<%= currently_at 'Subsidiary' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Phòng vé máy bay ',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Subsidiary', :path => iit_corp_path },
				{ :name => 'Phòng vé máy bay' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
      <p>
      <strong>Nacenopto Travel Agency</strong>, located at 103 Lo Duc Str., Hanoi, belongs to Nacenopto Co., Ltd. is a level 1 agent of the national airline of Vietnam - <strong>Vietnam Airlines</strong>and a number of well-known airlines in the world. Besides, we also has close relationship with many other domestic and international travel agents, including<strong>Nacenopto Travel Agency located at Seefelder Str. 48-13053 Berlin, Germany.</strong> Through a common system, we hope to bring to our customers an excellent quality of service.
      </p>
      <p>
      <strong><i>
      Our company would like to be a partner with our customers, primarily in the airline ticket, hotel booking, visa, foreign travel services and following the economic, finance contracts.
      </i></strong>
      </p>
      <ul>
        <li>Coming to our company, you will receive professional services and more than what you expect, including </li>
        <li>Provide consulting information, reservations, ticket delivery in accordance with your request promptly, fully and accurately</li>
        <li>Support customers in the following cases: do the procedures late, excess luggage, take a seat, intervene to find lost luggage, etc</li>
        <li>Take a seat in full flights depending on the ability of each flight, flight season</li>
        <li>Notify customers about cheap, best competitive tickets. Timely notice of promotions, updates of the national airlines of Vietnam and foreign airlines</li>
        <li>Make sure not encountering problems when customers use the ticket of B party. </li>
        <li>In case of cancellation of flights, we promptly notify to customers.</li>
        <li>Provide sufficient information about the passengers to airlines in order to offer preferential reasonable incentives to customers.</li>
        <li>Compensation for damage coming from not delivering tickets promptly affect the customer schedule according to the law of Vietnam. </li>
      </ul>
      <p>
      In addition, customers also receive special benefits when participating <strong>frequent flyer program</strong>. With accumulated points gained from international sales and domestic commitments, you can choose the appropriate incentives by National Vietnam Airlines such as: exemption, reduction of charges for baggage; incentives for upgrading services; receive golden lotus card; and other complementary policies
      </p>
      <p>
      Being a frequent customer of Vietnam Airlines is an effective way to reduce the cost of travel, a lot of support for your mission, especially in tension flights, urgent trips, and enjoy the best service also. Financially, you can receive supports as follows: acceptance of full payment methods such as cash, cheque, bank transfer, credit cards. You can choose the suitable periodic payment (depending on the contract between the parties).
      </p>
      <p>
      <strong>We often have policies to support customers in the best way, constantly improve the quality of services </strong> to make the customer satisfied. 
      </p>
      <p>
      Please contact us according following information:
      </p>
      <p><strong>Nacenopto Travel Agency at Hanoi</strong></p>
      <ul>
        <li>Adress: 103 Lo Duc Str., Hai Ba Trung Disc., Hanoi, Vietnam</li>
        <li>Phone: (+844) 38213672/ 38213673/ 39717373/ 39717374</li>
        <li>Fax: (+844) 38211270</li>
        <li>E-mail: Travel-Agency@nacenopto.com</li>
        <li>Hot line:  +84485820820</li>
      </ul>
      <p><strong>Nacenopto Travel Agency at Berlin</strong></p>
      <ul>
        <li>Adress: Seefelder Str. 48, 13053, Berlin, Germany </li>
        <li>Phone: (+49 30) 9827056/ 9823257</li>
        <li>Fax: (+49 30) 9823277</li>
        <li>E-mail: Nacenoptotrave@t-online.de</li>
        <li>Hot line: + 49 30</li>
      </ul>
		</div>
	</div>

</div>
