<% content_for :page_spec do %>
  <title>About us</title>
  <%= stylesheet_link_tag "home/about/about", media: "all" %>
<% end %>

<%= currently_at "About" %>

<div class='about container'> 
  <div class='row'>
    <%= render_page_header(
      'About',
      [{:name => 'Home', :path => root_path},
       {:name => 'About'}] 
    )%>
</div>

<div class='about-inner row'>

  <div class='intro col-xs-12 col-md-12'>
    <h2>CÔNG TY TNHH CÔNG NGHỆ QUANG ĐIỆN TỬ</h2>

    <a name="time"></a>
    <div class='intro-inner'>
      <h3>Quá trình hình thành và phát triển</h3>
      <p>
      Ngày 21/11/1994, công ty TNHH Công nghệ Quang điện tử (Nacenopto Co., Ltd) được thành lập 
      theo quyết định số 1525/GP của UBND thành phố Hà Nội. Sáng lập viên bao gồm: Viện công nghệ 
      Laser, Trung tâm vật liệu mới thuộc Viện nghiên cứu công nghệ Quốc gia và ông Hoàng Sơn - 
      Tiến sỹ Vật lý chuyên ngành Quang - Điện tử tại CHLB Đức. Công ty được cấp giấy đăng ký 
      kinh doanh số 046407 của Uỷ ban kế hoạch nhà nước thành phố Hà Nội ngày 05/12/1994, thay 
      đổi đăng ký kinh doanh lần thứ 6 ngày 29/04/2009. Hiện nay ông Hoàng Sơn vừa là Chủ tịch, 
      Người đại diện theo pháp luật, đồng thời kiêm chức vụ Giám đốc công ty.
      </p>
      <p>
      Năm 1995, công ty TNHH Công nghệ Quang điện tử thành lập văn phòng đại diện Nacenopto Representative, 
      tại địa chỉ Seefelder Str. 48, D-13053 Berlin, CHLB Đức.
      </p>
      <p>
      Năm 2001, công ty tư vấn kỹ thuật & chuyển giao công nghệ IBH, tên giao dịch là IBH Innovation & 
      Technology Transfer Corporation (tên viết tắt là IIT Corp.) là công ty liên doanh giữa công 
      ty TNHH Công nghệ Quang điện tử/Việt Nam và công ty IBH Impex Elektronik GmbH, công ty Doitronic 
      GmbH/CHLB Đức, theo giấy phép đầu tư nước ngoài số 109/GP-HN, ngày 22.10.2001 của UBND thành phố Hà Nội.
      </p>
      <p>
      Năm 2001, Văn phòng bán vé máy bay - Nacenoto Travel Agency được thành  lập và đi vào hoạt 
      động. Ngay từ ngày đầu thành lập, phòng vé đã được chỉ định là đại lý cấp I của hãng Hàng 
      không quốc gia Việt Nam và một số hãng hàng không khác. Trải qua qua quá trình hoạt động kinh 
      doanh, phòng vé liên tục phát triển và khẳng định vị trí của một phòng vé lớn có uy tín trên thị trường. 
      </p>
      <h3>Lĩnh vực kinh doanh</h3>
      <ul>
        <li>Cung cấp giải pháp công nghệ thông tin, điện tử viễn thông chuyên dụng</li>
        <li>Tư vấn, chuyển giao các chủng loại mặt hàng có hàm lượng công nghệ cao, kỹ thuật tiên tiến 
        của khối Tây Âu và Mỹ cho các cơ quan chức năng Việt Nam: Bộ Quốc Phòng, Bộ Công An, Tổng Cục 
        Hải Quan, Tập đoàn Bưu chính Viễn thông Việt Nam ...</li>
        <li>Dịch vụ vé máy bay và du lịch trong nước quốc tế</li>
        <li>Dịch vụ nhận và chi trả ngoại tệ (kiều hối)</li>
        <li>Đại lý mua, bán, ký gửi hàng tư liệu sản xuất và tư liệu tiêu dùng</li>
      </ul>
      <a name="org"></a>
      <h3>Cơ cấu tổ chức</h3>
      <img src="/images/organize.png" alt="" />
      <div class="clear"></div>
      <h3>Đảm bảo về kỹ thuật</h3>
      <p>
      Toàn bộ thiết bị do Công ty TNHH Công nghệ Quang Điện tử cung cấp đều được nhập khẩu chính hãng 
      từ nhà sản xuất, được bảo hành theo đúng tiêu chuẩn tại IIT Corp/ Hà Nội Việt Nam.
      </p>
      <a name="partner"></a>
      <h3>Đối tác trong nước và quốc tế</h3>
      <p>
      Công ty TNHH Công nghệ Quang Điện tử là đại diện chính thức, đối tác của nhiều công ty có tên 
      tuổi trong lĩnh vực an ninh, quốc phòng Tây Âu và Mỹ, điển hình là các công ty:
      </p>
      <ul>
        <li><a href="#">IBH Impex Elektronik GmbH (CHLB Đức)</a></li>
        <li><a href="#">Medav GmbH (CHLB Đức)</a></li>
        <li><a href="#">RDE (CHLB Đức)</a></li>
        <li><a href="#">SCHÖNHOFER (CHLB Đức)</a></li>
        <li><a href="#">VTQ (CHLB Đức)</a></li>
        <li><a href="#">Carzeiss Optical (CHLB Đức)</a></li>
        <li><a href="#">Shoene (CHLB Đức)</a></li>
        <li><a href="#">Elaman (CHLB Đức)</a></li>
      </ul>
      <h3>Tiêu chí trong kinh doanh của chúng tôi</h3>
      <ul>
        <li>Một đối tác tin cậy</li>
        <li>Kinh nghiệm dồi dào</li>
        <li>Công nghệ đột phá</li>
        <li>Thông tin cập nhật, hữu ích</li>
        <li>Kỹ thuật chuyên sâu</li>
        <li>Liên kết bền vững</li>
        <li>Nguồn nhân lực chuyên nghiệp</li>
      </ul>
    </div>
  </div>

</div>

</div>
