<% content_for :page_spec do %>
	<title>About us</title>
	<%= stylesheet_link_tag "home/about/about", media: "all" %>
<% end %>

<%= currently_at "About" %>

<div class='about container'> 
	<div class='row'>
		<%= render_page_header(
			'About',
			[{:name => 'Home', :path => root_path},
	 		{:name => 'About'}] 
	 	)%>
	</div>

	<div class='about-inner row'>

		<div class='intro col-xs-12 col-md-12'>
			<h2>NACENOPTO CO., LTD.</h2>
			<h2>Optoelectronics Technology and Trading Corporation</h2>

			<div class='intro-inner'>
        <h3>Foundation and Development</h3>
        <p>
        On 21.11.1994, Nacenopto Co., Ltd. was established under Decision No. 1525/GP Hanoi 
        People's Committee. Founding members include: Institute for Laser Technology, Center 
        for New Materials of the National Technology Research Institute and Dr. Hoang Son - 
        Specialized Optical - Electronics Physics in Germany. The company was granted a 
        business registration No. 046407 by the State Planning Committee of Hanoi on 12/05/1994, 
        sixth business registration changed on 29/04/2009. Currently, Dr. Hoang is the chairman, 
        legal representative and director of the company concurrently.
        </p>
				<p>
        In 1995, we established a representative office at Seefelder Str. 48, D-13053 Berlin, Germany. 
        </p>
        <p>
        In 2001, Airline ticket office – Nacenoto Travel Agency was established. From the first days, 
        it  was allocated as a first level agent of Vietnam Airlines and several other airlines. 
        Through the process of business operations, the office continuously develop and strengthen 
        its position as a major prestige agent in the market.
        </p>
        
        <h3>Business Scope</h3>
        <ul>
					<li>Provide specialized Information and telecommunications solutions</li>
          <li>Consult, transfer goods which have high technology level, advanced techniques 
          from Western Europe and the United States to appropiate Vietnam authorities: 
          Ministry of Defence, Ministry of Public Security, Vietnam Customs, Vietnam Posts and 
          Telecommunications Group... 
          </li>
					<li>International and domestic airline ticket, toursim services</li>
					<li>Foreign currency receive and payment services (remittances)</li>
					<li>Agent for buying, selling, consignment production and consumption materials</li>
				</ul>

        <h3>Organization</h3>
        <img src="/images/organize.png" alt="" />
        <div class="clear"></div>

        <h3>Technical Guarantee</h3>
        <p>
        Devices provided by Nacenopto Co., Ltd. are imported from the genuine manufacturers, are 
        warranted in accordance with the standards at IIT Corporation / Hanoi, Vietnam. 
        </p>

        <h3>Partners</h3>
        <p>
        Nacenopto Co., Ltd. is the official representative, partner of many well-known companies in the 
        security and defense field from Western Europe and America:
        </p>
        <ul>
          <li><a href="#">IBH Impex Elektronik GmbH (Germany)</a></li>
          <li><a href="#">Medav GmbH (Germany)</a></li>
          <li><a href="#">RDE (Germany)</a></li>
          <li><a href="#">SCHONHOFER (Germany)</a></li>
          <li><a href="#">VTQ (Germany)</a></li>
          <li><a href="#">Carzeiss Optical (Germany)</a></li>
          <li><a href="#">Shoene (Germany)</a></li>
          <li><a href="#">Elaman (Germany)</a></li>
        </ul>

        <h3>Operational Criteria</h3>
        <ul>
          <li>Partnership - trustworthy</li>
          <li>Experience - Abu</li>
          <li>Technology - innovatory</li>
          <li>Information - updated, useful</li>
          <li>Expertise - deep</li>
          <li>Communication - close</li>
          <li>Human resources - professional</li>

        </ul>

			</div>

		</div>

	</div>

</div>
