//= require home/shared/home

// share 
@mixin carousel-control-hover() {
	opacity: .3;
	filter: alpha(opacity=30);

	&:hover, &:focus {
		opacity: .9;
		filter: alpha(opacity=90);
	}
}

@mixin responsive-partners() {
	.partners {
		.item {
			&>span {
				margin: 0;

				img {
					width: 26.5%;
				}

				&:first-child{
					margin-left: 10%;
				}
			}
		}
	}
}

@mixin banner-large-screen($banner-height: 560px, $pSize: 20px) {
	#banner {	
		.carousel-inner { 
			.item {
				&>img {
					height: $banner-height;
				}

				&>.carousel-caption {
					&>div {
						&>h3 { 
							a {
								&>p {
									span {
										&:first-child {
											font: 75px Helvetica107XBCN;
										}
									}
								}
							}
						}
						
						&>p {
							top: 130%;	
							color: #92CDCF;
							font-size: $pSize;
						}

					}
				}

				&:first-child { 
					&>.carousel-caption {
						&>div {
							&>h3 {
								left: 50%;
							}

							&>p {
								font-size: $pSize;
								left: 30%;
							}
						}
					}
				}
			}	
		}
	}
}

// banner
#banner {	
	.carousel-inner { 
		// Change banner slide animation to opacity animation
		.item {
			opacity: 0;
			transition: opacity 1.5s ease-out;
			-moz-transition: opacity 1.5s ease-out;
			-webkit-transition: opacity 1.5s ease-out;
			-o-transition: opacity 1.5s ease-out;

			&>img {
				height: 350px;
			}

			&>.carousel-caption {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				padding: 0;

				&>div {
					height: 100%;
					position: relative;
					padding: 0;

					&>h3, &>p {
						width: 100%;
						text-align: center;
						position: absolute;
						transition: top 0.8s ease-in-out;
						-moz-transition: top 0.8s ease-in-out;
						-webkit-transition: top 0.8s ease-in-out;
						-o-transition: top 0.8s ease-in-out;
					}

					&>h3 { 
						top: -45%;	

						a {
							color: #EEEEF7;

							&>p {
								display: inline-block;
								padding: 18px;
								border-top: 1px solid #EEEEF7;
								border-bottom: 1px solid #EEEEF7;
								background: rgba(0, 0, 0, .2);

								span {
									&:first-child {
										margin-bottom: 18px;
										font: 25px Helvetica107XBCN;
										line-height: 27px;
									}
								}
							}
						}
					}

					&>p {
						top: 130%;	
						color: #92CDCF;
						font-size: 14px;
					}
				}
			}

			// Special style for first banner item
			&:first-child { 
				&>.carousel-caption {
					&>div {
						&>h3 {
							top: -80%;
							left: 10%;
							border: 0;
						}

						&>p {
							width: auto;
							color: #92CDCF;
							text-transform: uppercase;
							text-align: left;
							font-size: 14px;
						}
					}
				}
			}

			// Caption style when hover to banner area
			&:hover, &:focus {
				&>.carousel-caption {
					&>div {
						&>h3 {

							a {
								color: #FFF8DC;

								&>p {
									background: rgba(0, 0, 0, .4);
								}
							}
						}
					}
				}
			}

			// Style when this banner item active
			&.active {
				opacity: 1;

				.left, .right {
					left: 0;
					opacity: 0;
					z-index: 1000;
				}

				.carousel-caption {
					&>div {
						&>h3 {
							top: 30%;	
						}

						&>p {
							top: 70%;	
						}
					}
				}

				&:first-child { 
					&>.carousel-caption {
						&>div {
							&>h3 { 
								top: 12%;
							}

							&>p {
								top: 75%;
							}
						}
					}
				}
			}
		}

		.next.left, .prev.right {
			opacity: 1;
		}
	}

	.carousel-control {
		z-index: 2000;
	}

	.carousel-control {
		background: transparent;
		@include carousel-control-hover();		

		&>i {
			position: absolute;
			top: 45%;
		}

		&.right {
			i { 
				right: 50%;
			}
		}	
	}

	.carousel-indicators {
		left: 48%;
		margin: 0;
		width: auto;

		&>li {
			border: 0 !important;
			background: #445878;

			&.active {
				background: #31353D;
			}
		}
	}
}

// --- PAGE CONTENT --- //
h2 { 
	color: #92CDCF;
	font: 24px Helvetica107XBCn;
	text-align: center;

	span {
		display: inline-block;
		padding: 0px 15px;
		background: url('/images/bg_pattern.png'); 
	}

	&:before {
		position: absolute;
		z-index: -1;
		top: 34px;
		left: 0;
		right: 0;
		margin: 0 15px;
		border-top: 1px solid #445878;
		border-bottom: 1px solid #445878;
		content: "";
	}
}

// services
.services {
	margin-top: 30px;

	.heading {
		margin-bottom: 10px;
	}

	h3 {
		color: #92CDCF;
		font: 24px Helvetica107XBCn;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.services-description { 
		img {
			float: right;
		}
	}
}

// partners
.partners {
	.carousel-control {
		@include carousel-control-hover();		

		&>i {
			position: absolute;
			top: 42%;
		}

		&.right {
			&>i {
				left: 65%;
			}
		}

		&.left {
			&>i {
				left: 28%;
			}
		}
	}

	img {
		margin-bottom: 2px;
		max-height: 100px;
		width: auto;
	}
}

.companyinfo {
	.about-us {
		color: #EEEEF7;

		.left-side {
			width: 50%;
			float: left;
		}

		.clear {
			margin-top: 30px;
		}

		.commitment {
			&>p {
				margin: 0;
			}
		}
	}

	.contacts {
		.office {
			margin-right: 10px;
		}	

		.clear {
			margin-bottom: 40px;

			&>a {
				display: inline-block;
				margin-top: 25px;
			}
		}
		
		.address {
			&>p {
				margin: 0;

				&:first-child {
					font: 18px Helvetica107XBCn;
					color: #92CDCF;
					margin: 0 0 10px 0;
				}
			}
		}
	}
}

// --- Responsive --- //
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-sp-lg-min: 1600px;
/* small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	@include responsive-partners();
	@include banner-large-screen(560px, 24px);
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	@include responsive-partners();
	@include banner-large-screen(560px, 30px);

	.services-description { 
		min-height: 220px;
	}

	.companyinfo .contacts .office {
		float: left;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	@include responsive-partners();
	@include banner-large-screen(560px, 30px);

	.services-description { 
		min-height: 220px;
	}

	.companyinfo .contacts .office {
		float: left;
	}
}

/* Super large devices (super large desktops, 1600px and up) */
@media (min-width: $screen-sp-lg-min) { 
	@include responsive-partners();
	@include banner-large-screen(750px, 30px);

	#banner .carousel-inner .item.active:first-child {
		&>.carousel-caption {
			&>div {
				&>h3 {
					top: 20%;
					left: 60%;
				}
			}
		}
	}

	.services-description { 
		min-height: 220px;
	}

	.companyinfo .contacts .office {
		float: left;
	}
}
