//= require jquery-ui-custom
//= require magnific-popup
//= require alertify.core
//= require home/shared/home

@font-face{
	font-family:'Helvetica-light';
	src: url('/fonts/helvetica-neue-ultra-light.eot?v=4.0.3');
	src: url('/fonts/helvetica-neue-ultra-light.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
		  url('/fonts/helvetica-neue-ultra-light.woff?v=4.0.3') format('woff'),
		  url('/fonts/helvetica-neue-ultra-light.ttf?v=4.0.3') format('truetype'),
		  url('/fonts/helvetica-neue-ultra-light.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal;
}

// Special style for only this page
body { 
	background: url(/images/travel_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: #000000;
}

.topbar, .logo-region, .nav-button.phone, .main_nav .nav-collapse ul li > a:hover, 
.main_nav .nav-collapse ul li > a:focus {
	background: #003c7b;
}

.logo-region {
	padding-bottom: 0;
}

.topbar {
	.container {
		padding: 0;
	}
}

.breadcrumb>li+li:before {
	content: "|";
	padding: 0 20px;
	color: #ccc;
}

.pageheader .breadcrumb {
	background: #5f5f5f;
	margin-bottom: 0;
}

.footer {
	background: none;
	color: #000000;	

	.nav-tabs {
		li {
			a { 
				color: #000000;

				&:hover, &:focus {
					color: #ff9000;
				}
			}
		}
	}
}

@mixin footer-desktop-device () {
	.footer {
		.container {
			&>.row {
				border-top: 1px solid #000000;
				margin-left: 0;
				margin-right: 0;

				.col-xs-12 {
					margin-left: 0;
					margin-right: 0;
					padding: 0;

					.nav-tabs {
						margin-top: 0;
						margin-left: -45px;

						li {
							width: 15%;

							a { 
								color: #000000;

								&:hover, &:focus {
									color: #f4831d;
								}

								&:before {
									content: ' |';
									padding-right: 15px;
								}
							}

							&:first-child {
								a {
									margin-left: 15px;

									&:before {
										content: '';
									}
								}
							}

							&:nth-child(2) {
								margin-left: -10px;
							}
						}
					}

					.copyright {
						p {
							margin-top: 10px;
							text-align: right;

							&:first-child, &:last-child {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.btn-danger {
	float: right;
}

.topbar .dropdown .dropdown-menu {
	background: #003c7b;
}

.form-control { 
	background: #003c7b;
	color: #EEEEF7;
}

.pre-header {
	background: #003c7b;

	.pageheader {
		padding-right: 0;
		margin-bottom: 0;

		h1 {
			text-transform: none;
			color: #EEEEF7;
			font: 55px Helvetica-light;
		}
	}
}

.services-inner a {
	color: #000000;

	&:hover, &:focus {
		color: #ff9000;
	}
}

.pageheader .breadcrumb li, 
.topbar .dropdown .dropdown-menu li,
.main_nav .nav-collapse ul li {
	a {
		color: #ff9000;

		&:hover, &:focus {
			color: #EEEEF7;
		}
	}
}

.main_nav ul.nav-tabs.desktop li {
	&>a {
		color: #EEEEF7;
		font: 16px Helvetica;
		padding-right: 0;

		&:before {
			content: '|';
			padding-right: 12px;
		}

		&:hover, &:focus {
			color: #ff9000;
		}
	}

	&:first-child {
		a {
			&:before {
				content: '';
				padding-right: 0;
			}
		}
	}

	&.active {
		a {
			color: #ff9000;
		}
	}
}

// Header
.hotline, .header-hotline {
	color: red;
	margin-bottom: 10px;

	span {
		color: #000000;
		font-size: 16px;
	}
}

.header-hotline {
	margin-top: -60px;
	margin-bottom: 20px;
	text-align: right;
}

.blink-me {
	-webkit-animation: blink 2s infinite steps(1, start);
}

@-webkit-keyframes blink {
	0%,100%{
		color: #EEEEF7;
	}
	50% {
		color: red;
	}
}

i {
	vertical-align: middle;
	margin-right: 5px;
}

// Content
.content {
	margin-top: 60px;

	.services-inner { 
		.img-responsive {
			min-width: 100%;	
			margin-bottom: 30px;
		}

		h4, label { 
			color: rgba(0, 0, 0, .8);
			font: 18px Helvetica107XBCN;
		}

		.travel-info-region {
			background: rgba(255, 255, 255, 0.5);
			margin-left: -15px;
			margin-right: -15px;
		}

		.sale-text-region {
			margin-top: 20px;
		}

		.sale-text-region, .sale-banner, .how-to-request, .recently-request {
			padding: 15px 0 10px 15px;
			border-bottom: 1px solid #003c7b;
		}

		.error-details {
			margin-top: -20px;

			ol {
				li {
					color: red;
					font-size: 14px;
					font-weight: bold;
				}
			}
		}

		.adult-name, .children-name, .infant-name {
			margin-top: 10px;
			width: 100%;
			z-index: 1;
		}

		.addition-group {
			position: relative;

			.remove-field {
				top: 3px;
				right: 12px;
				position: absolute;
				color: #1C1D21;
				z-index: 2;
				cursor: pointer;

				&:hover, &:focus {
					color: #31353D;
				}
			}
		}

		.sale-banner-wrapper {
			.carousel-control {
				i { 
					position: absolute;
					top: 45%;
				}

				&.right {
					i {
						right: 45%;
					}
				}
			}		
		}

		.yahoo {
			a {
				display: inline-block;
				margin: 5px 10px 0 0;
			}
		}

		.btn {
			margin-bottom: 15px;

			strong {
				font-size: 16px;
			}
		}

		.recently-request {
			.ticket-place {
				font-size: 15px;
				color: #003c7b;
			}
		}
	}
}

.alertify-message {
	color: #31353D;
}

#place-popup {
	z-index: 100;
	color: #EEEEF7;
	background: #1C1D21;
	text-align: left;
	border-top: 3px solid #445878;
	border-bottom: 3px solid #445878;

	.mfp-close { 
		color: #EEEEF7;
		margin: 3px 0 0 0;
	}

	.place-title { 
		background: #31353D;
		padding-bottom: 12px;
		height: 44px;

		h2 {
			font: 24px Helvetica107XBCN;
			color: #92CDCF;
			border: 0;
			padding: 0 0 0 15px;
			margin: 6px 0 0 0;
		}
	}

	h4 {
		color: #92CDCF;
		margin-left: 40px;
	}

	ul { 
		list-style: none;

		li {
			span {
				font-size: 14px;	
				color: #EEEEF7;

				&:hover, &:focus {
					cursor: pointer;
					color: #92CDCF;	
				}
			}
		}
	}
}

// --- Responsive --- //
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
/* small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -28px;	
		margin-bottom: 0;

		span { 
			color: #EEEEF7;
		}
	}

	@include footer-desktop-device (); 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -28px;	
		margin-bottom: 0;

		span { 
			color: #EEEEF7;
		}
	}

	@include footer-desktop-device (); 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -28px;	
		margin-bottom: 0;

		span { 
			color: #EEEEF7;
		}
	}

	@include footer-desktop-device (); 
}
