<div class="mfp-hide order-detail">
	<div class="customer-info">
		<h3>Customer information</h3>

		<dl class="dl-horizontal">
			<dt>ID: </dt>
			<dd class="customer_id"></dd>
			<dt>Group ID: </dt>
			<dd class="customer_group"></dd>
			<dt>Name: </dt>
			<dd class="customer_name"></dd>
			<dt>Phone number: </dt>
			<dd class="customer_phone"></dd>
			<dt>Email: </dt>
			<dd class="customer_email"></dd>
		</dl>
	</div>
	<div class="order-info">
		<h3>Order information</h3>

		<dl class="dl-horizontal">
			<dt>From: </dt>
			<dd class="order_from"></dd>
			<dt>To: </dt>
			<dd class="order_to"></dd>
			<dt>Depart: </dt>
			<dd class="order_depart"></dd>
			<dt>Return: </dt>
			<dd class="order_return"></dd>
			<dt>Payment method: </dt>
			<dd class="payment_method"></dd>
			<dt>Adult tickets: </dt>
			<dd class="order_adult_tickets"></dd>
			<dt>Children tickets: </dt>
			<dd class="order_children_tickets"></dd>
			<dt>Infant tickets: </dt>
			<dd class="order_infant_tickets"></dd>
		</dl>
	</div>
</div>
