<div class="mfp-hide preview-email-wrap">
	<div class="preview-email-content">
		<h3>Subject: Thank you for request tickets at Nacenopto.com!</h3>

		<p>
		Thank you for ordering tickets at Nacenopto.com. Depending on your location and shipping method, 
		you should receive your ticket(s) within 3 to 5 business days after we confirm your payment.
		</p>

		<p>
		Your satisfaction is important to us, so if you have any questions please don't hesitate to 
		email or call us toll free at 800-123-1234. When contacting us about this order, 
		please be sure to include your order number.
		</p>

		<p><span class='email_order_info'>Order Number: </span><span class="email_order_id"></span></p> 
		<p><span class='email_order_info'>Order Date: </span><span class="email_order_created_at"></span></p> 

		<h4>Ticket(s)</h4> 
		<p>------------------------------------------------------</p> 
		<p><span class='email_order_info'>From: </span><span class="email_from"></span></p>
		<p><span class='email_order_info'>To: </span><span class="email_to"></span></p>
		<p><span class='email_order_info'>Depart: </span><span class="email_depart"></span></p>
		<p><span class='email_order_info'>Return: </span><span class="email_return"></span></p>
		<p><span class='email_order_info'>Quantity: </span><span class="email_quantity"></span></p>
		<p>------------------------------------------------------</p> 

		<p>------------------------------------------------------</p> 
		This is not a receipt! 
	</div>
</div>
