<div class='travel-info-region recently-request'>
				<h4>Recently requested</h4>	
				<ul>
					<% if @recently_orders.size > 0 %>
						<% @recently_orders.size.times do |i| %>
							<%= 
								content_tag :li do 
									content_tag(:span, @customers[i] + ' purchased ' + @quantity[i].to_s + ' tickets ') +
									content_tag(:span, @recently_orders[i][:from] + ' - ' + @recently_orders[i][:to], :class => 'ticket-place') +
									content_tag(:span, @recently_orders[i][:depart_date].strftime(' at %d/%m/%Y'), :class => 'ticket-time')
								end
							%>
						<% end %>
					<% else %>
						<p>We have no recently customer request tickets</p>
					<% end %>
				</ul>
			</div>

			<div class='travel-info-region recently-request'>
				<h4>Vé máy bay khách mới đặt</h4>	
				<ul>
					<% if @recently_orders.size > 0 %>
						<% @recently_orders.size.times do |i| %>
							<%= 
								content_tag :li do 
									content_tag(:span, @customers[i] + ' đặt ' + @quantity[i].to_s + ' vé ') +
									content_tag(:span, @recently_orders[i][:from] + ' - ' + @recently_orders[i][:to], :class => 'ticket-place') +
									content_tag(:span, @recently_orders[i][:depart_date].strftime(' ngày %d/%m/%Y'), :class => 'ticket-time')
								end
							%>
						<% end %>
					<% else %>
						<p>Không có vé vừa đặt trong ngày</p>
					<% end %>
				</ul>
			</div>


