.maincontent {
	table { 
		tr {
			td {
				vertical-align: middle;
			}
		}
	}

	.btn { 
		margin-top: 5px;
	}

	.get-data-region {
		.get-data {
			margin-top: 25px;
		}
	}

	.search-region { 
		padding-top: 10px;

		label {
			line-height: 40px;
			vertical-align: middle;
		}
	}

	h3 {
		font-size: 20px;
		color: #0866C6;
		margin-left: 10px;
	}

	.order_status {
		color: #EEEEF7;
		padding: 2px 5px;
		text-align: center;
		display: inline-block;

		&.new {
			background: #428bca;
		}

		&.viewed {
			background: #ed9c28;
		}

		&.sent-email {
			background: #d2322d;
		}

		&.sent-tickets {
			background: #5cb85c;
		}
	}
}

.mfp-content {
	padding: 1px;
	background: #1C1D21;
	color: #EEEEF7;
	width: auto !important;
	border: 1px solid #31353D;

	.travel-logo {
		width: 60%;
	}

	.order-detail {
		padding: 10px 20px;
		dt {
			color: #445878;
		}
	}

	.preview-email-content { 
		max-width: 500px;
		padding: 10px;
	}

	h3 {
		color: #92CDCF;
		font: 20px Helvetica107XBCn; 
		text-align: center;
	}

	h4 { 
		margin-top: 20px;
		font-size: 14px;
		color: #92CDCF;
	}

	.email_order_info {
		color: #445878;
	}

	.mfp-close {
		color: #EEEEF7;
	}	
}
