.maincontent {
	table { 
		tr {
			td {
				vertical-align: middle;
			}
		}
	}

	.btn { 
		margin-top: 5px;
	}

	.search-region { 
		margin-top: 10px;

		label {
			line-height: 40px;
			vertical-align: middle;
		}
	}
}
