<% content_for :page_spec do %>
	<title>Personal finance</title>
	<%= stylesheet_link_tag "home/service/personal_finance", media: "all" %>
<% end %>

<%= currently_at 'Services' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Kiều hối',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Services', :path => services_path },
				{ :name => 'Kiều hối' } 
			]
		)%>
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<img class='img-responsive' src='/images/personal-finance.jpg' alt='Personal finance' />			
		</div>
		<div class='col-xs-12 col-md-12'>
		</div>
	</div>

</div>
