<% content_for :page_spec do %>
	<title>Security devices</title>
	<%= stylesheet_link_tag "home/home", media: "all" %>
	<%= stylesheet_link_tag "home/services/security_devices", media: "all" %>
<% end %>

<%= currently_at 'Services' %>

<div class='content container'>
	
	<div class='row'>	
		<%= render_page_header(
			'Security devices',
			[
				{ :name => 'Home', :path => root_path },
				{ :name => 'Services', :path => services_path },
				{ :name => 'Security devices' } 
			]
		)%>	
	</div>

	<div class='services-inner row'>
		<div class='col-xs-12 col-md-12'>
			<img class='img-responsive' src='/images/home-banners/banner4.jpg' alt='Security devices' />			
		</div>
		<div class='col-xs-12 col-md-12'>
		</div>
	</div>

</div>
