.services-inner { 
	.img-responsive {
		min-width: 100%;	
		margin-bottom: 30px;
	}

	.dtpicker-content { 
		background: #31353D;

		.dtpicker-buttonCont .dtpicker-button {
			background: #445878;
		}

		.dtpicker-header {
			.dtpicker-title {
				color: #EEEEF7;
			}

			.dtpicker-close { 
				color: #EEEEF7;
			}

			.dtpicker-value {
				color: #92CDCF;
			}
		}
	}
}

#place-popup {
	z-index: 100;
	color: #EEEEF7;
	background: #1C1D21;
	text-align: left;
	border-top: 3px solid #445878;
	border-bottom: 3px solid #445878;

	.mfp-close { 
		color: #EEEEF7;
	}

	td {
		border: 0;
	}

	th { 
		font: 24px Helvetica107XBCN;
		color: #92CDCF;
		border: 0;
	}

	ul { 
		list-style: none;

		h4 {
			color: #92CDCF;
		}

		li {
			span {
				font-size: 12px;	
			}
		}
	}
}
