// Special style for only this page
body { 
	background: url(/images/travel_bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.topbar, .footer, .pageheader .breadcrumb,  {
	background: rgba(0, 0, 0, 0.1);
}

.topbar .dropdown .dropdown-menu {
	background: navy;
}

.form-control { 
	background: rgba(238, 238, 238, 0.9);
}

.pageheader h1 {
	color: yellow;
}

body, .services-inner, .pageheader .breadcrumb li, 
.main_nav ul.nav-tabs.desktop li, .topbar .dropdown .dropdown-menu li,
.footer .nav-tabs li {
	a {
		color: yellow;

		&:hover, &:focus {
			color: #EEEEF7;
		}
	}
}

.main_nav ul.nav-tabs.desktop li.active {
	a {
		color: #EEEEF7;
	}
}

// Header
.header-hotline {
	color: yellow;
	margin-top: -40px;
	margin-bottom: 20px;

	span {
		color: yellow;
		font: 20px Helvetica107XBCN;
	}
}

.blink-me {
	-webkit-animation: blink 2s infinite steps(1, start);

}
@-webkit-keyframes blink {
	0%,100%{
		color: #EEEEF7;
	}
	50% {
		color: yellow;
	}
}

i {
	vertical-align: middle;
	margin-right: 5px;
}

// Content
.services-inner { 
	color: yellow;

	.img-responsive {
		min-width: 100%;	
		margin-bottom: 30px;
	}

	h4, label { 
		color: yellow;
		font: 18px Helvetica107XBCN;
	}

	.sale-banner, .how-to-request, .recently-request {
		padding: 15px 0;
		border-bottom: 1px solid yellow;
	}

	.error-details {
		margin-top: -20px;

		ol {
			li {
				color: red;
				font-size: 14px;
				font-weight: bold;
			}
		}
	}

	.adult-name, .children-name, .infant-name {
		margin-top: 10px;
		width: 100%;
		z-index: 1;
	}

	.addition-group {
		position: relative;

		.remove-field {
			top: 3px;
			right: 12px;
			position: absolute;
			color: #1C1D21;
			z-index: 2;
			cursor: pointer;

			&:hover, &:focus {
				color: #31353D;
			}
		}
	}

	.sale-banner-wrapper {
		.carousel-control {
			i { 
				position: absolute;
				top: 45%;
			}
			
			&.right {
				i {
					right: 45%;
				}
			}
		}		
	}

	.yahoo {
		a {
			display: inline-block;
			margin: 5px 10px 0 0;
		}
	}

	.btn {
		margin-bottom: 15px;

		strong {
			font-size: 16px;
		}
	}

	.recently-request {
		.ticket-place {
			font-size: 15px;
			color: yellow;
		}
	}
}

.alertify-message {
	color: #31353D;
}

#place-popup {
	z-index: 100;
	color: #EEEEF7;
	background: #1C1D21;
	text-align: left;
	border-top: 3px solid #445878;
	border-bottom: 3px solid #445878;

	.mfp-close { 
		color: #EEEEF7;
		margin: 3px 0 0 0;
	}

	.place-title { 
		background: #31353D;
		padding-bottom: 12px;
		height: 44px;

		h2 {
			font: 24px Helvetica107XBCN;
			color: #92CDCF;
			border: 0;
			padding: 0 0 0 15px;
			margin: 6px 0 0 0;
		}
	}

	h4 {
		color: #92CDCF;
		margin-left: 40px;
	}

	ul { 
		list-style: none;

		li {
			span {
				font-size: 14px;	
				color: #EEEEF7;

				&:hover, &:focus {
					cursor: pointer;
					color: #92CDCF;	
				}
			}
		}
	}
}

// --- Responsive --- //
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
/* small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -145px;	
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -145px;	
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.services-inner { 
		.error-details {
			margin-top: -40px;
		}
	}

	.header-hotline {
		margin-top: -145px;	
	}
}
