// Header
.header-hotline {
	color: #92CDCF;
	margin-top: -20px;
	margin-bottom: 20px;

	span {
		color: #92CDCF;
		font: 20px Helvetica107XBCN;
	}
}

.blink-me {
	-webkit-animation: blink 2s infinite steps(1, start);

}
@-webkit-keyframes blink {
	0%,100%{
		color: #445878;
	}
	50% {
		color: #92CDCF;
	}
}

i {
	vertical-align: middle;
	margin-right: 5px;
}

// Content
.services-inner { 
	.img-responsive {
		min-width: 100%;	
		margin-bottom: 30px;
	}

	h4, label { 
		color: #92CDCF;
		font: 18px Helvetica107XBCN;
	}

	.sale-banner, .how-to-request, .recently-request {
		padding: 15px 0;
		border-bottom: 1px solid #92CDCF;
	}

	.adult-name, .children-name, .infant-name {
		margin-top: 10px;
		width: 100%;
		z-index: 1;
	}

	.addition-group {
		position: relative;

		.remove-field {
			top: 3px;
			right: 12px;
			position: absolute;
			color: #1C1D21;
			z-index: 2;
			cursor: pointer;

			&:hover, &:focus {
				color: #31353D;
			}
		}
	}

	.sale-banner-wrapper {
		.carousel-control {
			i { 
				position: absolute;
				top: 45%;
			}
		}		
	}

	.yahoo {
		a {
			display: inline-block;
			margin: 5px 10px 0 0;
		}
	}

	.btn {
		strong {
			font-size: 16px;
		}
	}

	.recently-request {
		.ticket-place {
			font-size: 15px;
			color: #92CDCF;
		}
	}
}

.alertify-message {
	color: #31353D;
}

#place-popup {
	z-index: 100;
	color: #EEEEF7;
	background: #1C1D21;
	text-align: left;
	border-top: 3px solid #445878;
	border-bottom: 3px solid #445878;

	.mfp-close { 
		color: #EEEEF7;
		margin: 3px 0 0 0;
	}

	.place-title { 
		background: #31353D;
		padding-bottom: 12px;
		height: 44px;

		h2 {
			font: 24px Helvetica107XBCN;
			color: #92CDCF;
			border: 0;
			padding: 0 0 0 15px;
			margin: 6px 0 0 0;
		}
	}

	h4 {
		color: #92CDCF;
		margin-left: 40px;
	}

	ul { 
		list-style: none;

		li {
			span {
				font-size: 14px;	
				color: #EEEEF7;

				&:hover, &:focus {
					cursor: pointer;
					color: #92CDCF;	
				}
			}
		}
	}
}

// --- Responsive --- //
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
/* small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
	.header-hotline {
		margin-top: -145px;	
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 
	.header-hotline {
		margin-top: -145px;	
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) { 
	.header-hotline {
		margin-top: -145px;	
	}
}
