/* line 29, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
html, body, .container-fluid {
  height: 100%;
}

/* line 36, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header {
  background: #0866c6;
}
/* line 39, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .logo {
  padding: 0;
  margin: 0;
}
/* line 43, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .logo img {
  margin-top: 30px;
}
/* line 48, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu-inner {
  padding: 0;
  margin: 0;
}
/* line 53, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu {
  padding: 0;
  margin: 0;
}
/* line 57, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu {
  padding: 0;
  margin: 0;
}
/* line 61, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li {
  display: block;
  float: left;
  height: 100%;
  width: 110px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 68, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
}
/* line 72, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li > a {
  color: #CCC;
  text-decoration: none;
}
/* line 76, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li > a span.count {
  width: 80%;
  display: block;
  padding: 10px 10px 0 0;
  text-align: right;
}
/* line 83, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li > a i {
  padding: 0 0 0 31px;
}
/* line 87, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li > a span.headmenu-label {
  display: block;
  padding: 5px 0 0 0;
  text-align: center;
  font-weight: 100;
}
/* line 94, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .header-menu .headmenu > li > a:hover {
  color: #FFF;
}
/* line 103, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo img {
  background: rgba(255, 255, 255, 0.3);
  width: 86px;
  height: 86px;
  padding: 3px;
  margin: 12px;
  float: left;
}
/* line 112, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo h5 {
  color: #FFF;
  margin: 18px 0 0 0;
}
/* line 117, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo ul {
  margin: 8px 0 0 0;
  padding: 0;
}
/* line 121, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo ul li {
  display: block;
}
/* line 124, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo ul li a {
  font-size: 12px;
  color: #CCC;
  line-height: 16px;
  text-decoration: none;
}
/* line 130, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo ul li a:hover, .cms-header .userLoggedInfo ul li a:focus, .cms-header .userLoggedInfo ul li a:active {
  color: #FFF;
}
/* line 137, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-header .userLoggedInfo .userinfo {
  padding: 0 30px 0 0;
}

/* line 145, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main {
  background: #FFF;
  padding: 0;
}
/* line 150, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .breadcrumbs .breadcrumb {
  background: #DDD;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
  padding: 5px 15px;
}
/* line 156, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .breadcrumbs .breadcrumb li {
  font-size: 11px;
  color: #666;
}
/* line 163, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .pageheader {
  border-bottom: 1px solid #DDD;
  height: 80px;
}
/* line 167, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .pageheader .page-icon {
  float: left;
  color: #0866C6;
  margin-left: 20px;
  border: 3px solid #0866C6;
  padding: 10px;
  width: 70px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
/* line 178, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .pageheader .page-title {
  float: left;
  margin-left: 20px;
}
/* line 182, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .pageheader .page-title h6 {
  color: #999;
  margin: 5px 0 0 2px;
  padding: 0;
  font-size: 10px;
}
/* line 189, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .pageheader .page-title h1 {
  color: #0866C6;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
/* line 198, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-main .maincontent {
  background: url(/images/bg_admin_content.png);
  padding: 0 20px;
  min-height: 400px;
}

/* line 205, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation {
  background: #333;
  color: #FFF;
  float: left;
  border-radius: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 215, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul li a {
  line-height: 20px;
  border: 0;
  padding-left: 20px;
  cursor: pointer;
  margin: 0;
}
/* line 222, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul li a > i {
  padding-right: 10px;
}
/* line 228, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav {
  border-radius: 0;
}
/* line 231, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li {
  border-bottom: 1px solid #222;
  border-radius: 0;
  width: 100%;
}
/* line 236, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li > a {
  background-color: #333;
  border: 0;
  color: #999;
  border-radius: 0;
}
/* line 242, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li > a.active, .cms-panel-navigation ul.nav > li > a:hover, .cms-panel-navigation ul.nav > li > a:focus {
  background: #333;
  color: #FFF;
}
/* line 248, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li.active > a {
  background: #0866c6;
  color: #FFF;
  border: 0;
}
/* line 254, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li.nav-header {
  padding: 5px 10px;
  border: 0;
  font-size: 12px;
}
/* line 262, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.nav > li.dropdown i.fa-angle-down {
  float: right;
}
/* line 269, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.menu {
  list-style: none;
  padding: 0;
}
/* line 273, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.menu > li {
  background: #EEE;
  border-bottom: 1px solid #333;
  height: 41px;
}
/* line 278, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.menu > li a {
  background: #EEE;
  width: 100%;
  color: #999;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}
/* line 286, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
.cms-panel-navigation ul.menu > li a.active, .cms-panel-navigation ul.menu > li a:hover, .cms-panel-navigation ul.menu > li a:focus {
  background: #FFF;
  color: #000;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* line 13, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-header .userLoggedInfo img {
    margin-left: 100px;
  }

  /* line 19, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content {
    height: 83.5%;
  }
  /* line 22, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content .cms-panel-navigation {
    height: 100%;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 13, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-header .userLoggedInfo img {
    margin-left: 100px;
  }

  /* line 19, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content {
    height: 83.5%;
  }
  /* line 22, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content .cms-panel-navigation {
    height: 100%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* line 13, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-header .userLoggedInfo img {
    margin-left: 100px;
  }

  /* line 19, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content {
    height: 83.5%;
  }
  /* line 22, /home/phuong3030/Documents/SecFly/app/assets/stylesheets/admin/shared/dashboard.css.scss */
  .cms-content .cms-panel-navigation {
    height: 100%;
  }
}
