<html>
<head>
<style>
.mfp-content {
	padding: 1px;
	background: #1C1D21;
	color: #EEEEF7;
	width: auto !important;
	border: 1px solid #31353D;
}

.travel-logo {
	width: 60%;
}

.order-detail {
	padding: 10px 20px;
}

dt {
	color: #445878;
}

.preview-email-content { 
	max-width: 500px;
	padding: 10px;
}

h3 {
	color: #92CDCF;
	font: 20px Helvetica107XBCn; 
	text-align: center;
}

h4 { 
	margin-top: 20px;
	font-size: 14px;
	color: #92CDCF;
}

.email_order_info {
	color: #445878;
}

</style>
</head>
<body>
<div class="mfp-content">
	<div class="preview-email-content">
		<div class='travel-logo'> 
			<img class='img-responsive' src='/images/travel-logo.png' alt='Nacenopto travel agency' />
		</div>
		<h3>Thank you for purchasing your tickets at Nacenopto.com!</h3>

		<p>
		Your satisfaction is important to us, so if you have any questions please don't hesitate to 
		email or call us at +84-4-85 820 820. 
		</p>

		<p><span class='email_order_info'>Order Number: </span><span class="email_order_id"></span></p> 
		<p><span class='email_order_info'>Passenger(s): </span><span class="email_customer_name"></span></p> 
		<p><span class='email_order_info'>Order Date: </span><span class="email_order_created_at"></span></p> 

		<h4>Ticket(s) information: </h4> 
		<p><span class='email_order_info'>From: </span><span class="email_from"></span></p>
		<p><span class='email_order_info'>To: </span><span class="email_to"></span></p>
		<p><span class='email_order_info'>Depart: </span><span class="email_depart"></span></p>
		<p><span class='email_order_info'>Return: </span><span class="email_return"></span></p>
		<p><span class='email_order_info'>Status: </span><span class="ticket_status">Confirmed bussiness</span></p>
		<p>
		<span class='email_order_info'>Flight information: </span>
		<span>To recheck your flight details, we recommend that you visit flight info section on our website</span>
		</p>
		<p>
		<span class='email_order_info'>Check in at the airport: </span>
		<span>
			Please be present at the airport for check in at least 2 hours prior to your scheduled departure. 
			At the time of check in, you will be required to present travel documents and printed e-ticket receipt.
		</span>
		</p>We look forward to welcoming you onboard Nacenopto soon!</p>
	</div>
</div>
</body>
</html>
