<div class='row services'>

	<div class='col-xs-12 col-md-12'>
		<h2>
			<span>Our Services</span>
		</h2>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Specialized Teleconmmunications and Information solutions</h3>
		<div class='services-description'>
			<p>
			<%= link_to iit_corp_path do %>
				<img src='/images/security-devices.jpg' alt='iit_corporation' />
			<% end %>

			<p>Manufacturing and assembling of electronics and telecommunication equipment.</p>
			<p>
			Import-export and technology transfer, service of consultancy, project planning,
			performing and after-sales.
			</p>
			<p>
			Sole agent of industrial equipment, IT, electronics and telecommunication 
			equipment, testing and measuring equipment, health equipment, network security
			and software solution...
			</p>
		</div>
		</p>

	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Agent for Airline tickets and Tourism</h3>
		<div class='services-description'>
			<p>
			<%= link_to travel_path do %>
				<img src='/images/airline-ticket.jpg' alt='airline tickets, tourist and visa services' />
			<% end %>
      Nacenopto Travel Agency located at 103 Lo Duc Str., Hanoi, belongs to Nacenopto Co., Ltd. 
      is a level 1 agent of the national airline of Vietnam - Vietnam Airlines and a number of 
      well-known airlines in the world. Besides, we also has close relationship with many other 
      domestic and international travel agents, including Nacenopto Travel Agency located at 
      Seefelder Str. 48-13053 Berlin, Germany. Through a common system, we hope to bring to 
      our customers an excellent quality of service.
      Our company would like to be a partner with our customers, primarily in the airline ticket, 
      hotel booking, visa, foreign travel services and following the economic, finance contracts.
			</p>
		</div>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Remittance</h3>
		<div class='services-description'>
			<p>
			<%= link_to personal_finance_path do %>
				<img src='/images/financial-planning.jpg' alt='personal finance services' />
			<% end %>
			The professionals in our practice offer the judgment, experience and capability 
			required to help you achieve your goals now and for future generations. 
			In addition, we team across the firm to provide a robust portfolio of private 
			wealth services to better serve the sophisticated needs of high net worth individuals and families.
			</p>
		</div>
	</div>
</div>
