<div class='row services'>

	<div class='col-xs-12 col-md-12'>
		<h2>
			<span>Lĩnh vực kinh doanh</span>
		</h2>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Giải pháp điện tử viễn thông, công nghệ thông tin chuyên dụng</h3>
		<div class='services-description'>
			<p>
			<%= link_to iit_corp_path do %>
				<img src='/images/security-devices.jpg' alt='security devices services' />
			<% end %>

			<p>Sản xuất, lắp ráp thiết bị điện tử viễn thông.</p>
			<p>
			Xuất nhập khẩu và chuyển giao công nghệ, dich vụ khoa học kỹ thuật tư vấn, 
			xây dựng dự án, thực hiện dự án và hỗ trợ sau bán hàng.
			</p>
			<p>
			Đại lý độc quyền các thiết bị công nghiệp, thiết bị công nghệ thông tin, 
			thiết bị điện tử viễn thông, thiết bị và giải pháp phần mềm và an ninh mạng, 
			thiết bị phòng thí nghiệm, thiết bị đo lường, thiết bị y tế… 
			</p>
		</div>

	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Văn phòng vé máy bay, du lịch</h3>
		<div class='services-description'>
			<p>
			<%= link_to travel_path do %>
				<img src='/images/airline-ticket.jpg' alt='airline tickets, tourist and visa services' />
			<% end %>
      Phòng vé Nacenopto Travel Agency là đại lý vé máy bay cấp 1 của hãng hàng không quốc gia 
      Việt Nam - Vietnam Airlines và một số hãng hàng không lớn trên thế giới. Bên cạnh đó, 
      chúng tôi còn có quan hệ mật thiết với rất nhiều phòng vé khác trong nước và nước ngoài, 
      trong đó có phòng vé Nacenopto Travel Agency, địa chỉ tại Seefelder Str. 48 - 13053 Berlin - Germany. 
      Thông qua một hệ thống cung cấp dịch vụ thống nhất như nói trên, chúng tôi hy vọng sẽ mang đến cho 
      quý khách hàng một chất lượng phục vụ hoàn hảo.
      Công ty chúng tôi xin gửi lời đề nghị được hợp tác với quý khách hàng, trước hết trên lĩnh vực dịch 
      vụ bán vé máy bay, đặt chỗ khách sạn, visa, du lịch nước ngoài và tiếp theo sau là các hợp đồng kinh tế, tài chính khác.
			</p>
		</div>
	</div>

	<div class='col-xs-12 col-md-4'>

		<h3>Văn phòng nhận, chi trả ngoại tệ</h3>
		<div class='services-description'>
			<p>
			<%= link_to personal_finance_path do %>
				<img src='/images/financial-planning.jpg' alt='personal finance services' />
			<% end %>
			Các chuyên gia giàu kinh nghiệm thực tế của chúng tôi tư vấn cho các quyết định tài chính, phân tích chi tiết 
			trong các tình huống cụ thể để giúp bạn đạt được mục tiêu của bạn hiện tại cũng như tương lai. 
			Ngoài ra, đội ngũ chuyên gia còn có thể cung cấp một danh mục đầu tư chi tiết để có thể phục vụ tốt hơn nhu cầu  
			của các khách hàng khó tính.
			</p>
		</div>
	</div>
</div>
